body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Aldrich', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*for page sections*/
.grey {
  background: #9EB3C2;
  flex-grow: 1;
  overflow-y: auto;
}

.blue {
  background: #21295C;
}

/* container for section transition banner. SPACER CLASS IS HERE TO PROVIDE THE DIMENSIONS OF THE BANNER, DO NOT REMOVE OR IT WILL MAKE YOU SAD */
.spacer {
  aspect-ratio: 960/120;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
}

/* section transition banner image */
.divider {
  background-image: url(../images/stacked-waves-haikei.svg);
}

/* Style the search box */
.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

/* for search bar */
.search-bar {
  width: 400px;
  padding: 10px;
  border: none;
  font-size: 24px;
  border-radius: 10px;
}

.fa-magnifying-glass {
  padding: 10px;
  color: #fff;
  background: none;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.fa-location-dot {
  padding: 10px;
  color: #fff;
  background: none;
  border: none;
  border-radius: 0 5px 5px 0;
}

/* for more specific elements */
button {
  cursor: pointer;
}

/* for weather boxes */
.weather-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.weather-box {
  width: calc(100% / 7); /* use the power of math to display 7 days horizontally */
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
}

/* Details for weather information display */
.weather-box h2.location {
  margin-bottom: 10px;
}

.temperature {
  font-size: 28px;
  margin-bottom: 10px;
}

.weather-details p {
  margin-bottom: 5px;
}